
#
# WARNING you can build with register http://your-id.m.daocloud.io
#

# database
mq-mysql:
  image: mysql:5.7
  ports:
    # Allow client to access 3306
    - "3306:3306"
  privileged: true
  volumes:
    # For source code
    - ../:/web
    # NOTE: your data will be stored in ./mysql
    - ./mysql/data:/var/lib/mysql
    # Configs
    - ./mysql/my.cnf:/etc/mysql/my.cnf
    # Logs
    #- ./mysql/logs:/var/log/mysql
  environment:
    - MYSQL_ROOT_PASSWORD=Ro0t # you mysql password

# php-fpm
mq-fpm:
  build: ./php
  ports:
    - "9000:9000"
  volumes:
    # For source code
    - ../:/web
    # Your php.ini
    - ./php/php.ini:/usr/local/etc/php/php.ini
  # environment:
    # Set your APP env variables here:
    # - APP_KEY=
    # - DB_HOST=
    # - DB_DATABASE=
    # - DB_USERNAME=
    # - DB_PASSWORD=
  links:
    - mq-mysql:mysql

# web server
mq-nginx:
  image: nginx:latest
  ports:
    - "80:80"
    - "443:443"
  volumes:
    # For others file
    - ../:/web
    # Configs
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    - ./nginx/conf.d:/etc/nginx/conf.d
    # Logs
    - ./nginx/logs:/var/log/nginx
    # Certificates
    # www
    - ./nginx/cert/214394152430617.pem/:/etc/nginx/214394152430617.pem
    - ./nginx/cert/214394152430617.key/:/etc/nginx/214394152430617.key

    # source
    - ./nginx/cert/214394119350617.pem/:/etc/nginx/214394119350617.pem
    - ./nginx/cert/214394119350617.key/:/etc/nginx/214394119350617.key

    # pic
    - ./nginx/cert/214394163550617.pem/:/etc/nginx/214394163550617.pem
    - ./nginx/cert/214394163550617.key/:/etc/nginx/214394163550617.key

    # passport
    - ./nginx/cert/214394152100617.pem/:/etc/nginx/214394152100617.pem
    - ./nginx/cert/214394152100617.key/:/etc/nginx/214394152100617.key
  links:
    - mq-fpm:fpm