[client]
port = 3306
default-character-set = utf8

[mysqld]
default-storage-engine=InnoDB
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
init-connect = 'SET NAMES utf8mb4'
max-allowed-packet = 64M
;bind-address = 0.0.0.0
port = 3306
slow-query-log = ON
long-query-time = 2
log-error=/var/log/mysql/error.log
slow-query-log-file= /var/log/mysql/slow.log
default-time-zone = +8:00
sql_mode = ''
skip-host-cache
skip-name-resolve
